backports.functools-lru-cache==1.5
cairocffi==1.0.2
CairoSVG==2.4.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cheroot==6.5.6
CherryPy==18.1.2
cssselect2==0.2.1
defusedxml==0.6.0
Django==2.2.2
et-xmlfile==1.0.1
excel2json==1.0.1
excel2json-3==0.1.6
html5lib==1.0.1
idna==2.8
jaraco.functools==2.0
jdcal==1.4.1
more-itertools==7.2.0
numpy==1.17.2
openpyxl==2.4.9
pandas==0.25.1
Pillow==6.0.0
portend==2.5
pycparser==2.19
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
PyYAML==5.1.2
redis==3.3.8
reportlab==3.5.23
requests==2.21.0
scapy==2.4.2
six==1.12.0
sqlparse==0.3.0
tempora==1.14.1
tinycss2==1.0.2
urllib3==1.24.3
WeasyPrint==47
webencodings==0.5.1
xhtml2pdf==0.2.3
xlrd==1.2.0
zc.lockfile==2.0
